
services:
  mongo:
    image: mongo:latest
    restart: always
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: schneiderseba
      MONGO_INITDB_ROOT_PASSWORD: 15673019
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express:latest
    restart: always
    container_name: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://schneiderseba:15673019@mongo:27017/
      ME_CONFIG_MONGODB_ADMINUSERNAME: schneiderseba  
      ME_CONFIG_MONGODB_ADMINPASSWORD: 15673019
    depends_on:
      - mongo

    